aside {
    width: 200px;
    height: 100%;
    background-image: url(cover.jpg);
    position:absolute;
}

img {
    border-radius: 50%;
    object-fit: contain;
    width: 100px;
}

a {
    color: #2b2b2b;
    text-decoration: none;
}

a:hover {
    color: #2b2bb2;
    transition: color 0.3s;
}

aside {
    display: flex;
    flex-direction: column;
}

.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.top {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.top .links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 0;
    margin-left: 20px;
}